<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div>
        <header class="p-4 bg-success d-flex justify-content-between">
            <h1 class="p-2 bg-light rounded-lg shadow border-right border-bottom">
                <a href="/" class="text-decoration-none text-info">Doggo Tech Bloggo</a>
            </h1>
            <nav class="p-2 nav m-2">
                {{#if loggedIn}}
                <a href="/dashboard" class="p-1 mx-3 mt-1 nav-item font-weight-bold text-white">Dashboard</a>
                <button id="logout" class="p-1 mx-3 nav-item font-weight-bold btn text-white">Logout</button>
                {{else}}
                <a href="/login" class="p-1 mx-3 mt-1 nav-item font-weight-bold text-white">Login</a>
                {{/if}}
            </nav>
        </header>
    </div>
    <main class="container-fluid min-vh-100">
        {{{ body }}}
    </main>
    <footer class="bg-success p-2 text-center text-white font-weight-bold">Hello! This is the bottom of the page!</footer>
        {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
        {{/if}}
</body>
</html>